
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

*{
    box-sizing: border-box;
}
:root {
    --primary-color: #F4F2EB;
    --secondary-color: #264653;
    --heading-color: #e9c46a;
    --text-color:#f4a261 ;
    --table-color: #40758a;;
  
    --btn-background-color:#2a9d8f;
    --btn-text-color:whitesmoke;
}

body {
    text-align: center;
    display:flex;
    background-color: var(--primary-color);
    padding:1%;
    color:var(--text-color);
}
/* Outer Main Container */
.main-container{
    padding: 5%;
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    border: 2px transparent;
    border-radius: 4px;
}
h1{
    font-family: 'Headland One', serif;
}
p{
    font-size: 1.2rem;
}
.label{
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--faint-green);
}

input{
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    height: 3rem;
    display: block;
}

.cashGivenInput{
    display: none;
}
.changeReturn{
    display: none;
}
.errorMsg{
    padding-top: 1rem;
    color:white;
}
#output{
    margin: 1rem 0;    
}

/* Table */
table{
    max-width: 80%;
    height: 20rem;
    margin: auto;
    table-layout:auto;
    border-spacing: 0.5rem;
    border-color: var(--btn-background-color);
    background-color:var(--btn);
    text-align: center;
}

th{
    padding: 0.7rem 0.7rem;
    font-size: 1.2rem;
    background-color: var(--btn-background-color);
    color: white;
    width: fit-content;
}

.thead th{
    background-color: var(--btn-background-color);
    color: var(--text-color);
}

.noOfNotes{
    font-weight: bold;
    color: white;
}

#nextBtn, #submitBtn{
    font-size: 1.1rem;
    border: solid 2px white;
    border-radius: 4px;
    margin: 0.6rem;
    padding: 0.5em 1em;
    color: var(--btn-text-color);
    background-color: transparent;
    transition: 0.3s;
}

#nextBtn:hover, #submitBtn:hover{
    color: var(--text-color);
    border-color: transparent;
    background-color: #2a9d8f;
    transform: scale(1.2);
}
